@import "../partials/variables";
@import "../partials/header";
@import "../partials/footer";
@import "../partials/index";
@import "../partials/productos";
@import "../partials/nosotros";
@import "../partials/contacto";
@import "../partials/preguntasfrecuentes";
@import "../partials/mediaQ";

*{
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

