@media only screen and (max-width:500px) {
    header{
        flex-direction: column;
        a{
            font-size: 1rem;
            justify-content: space-between;
        }
    }
    nav{
        width: 100%;
        margin-bottom: 20px;
    }
    h1{
        font-size: 2rem;
        padding: 40px 0px;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    .envios p{
        font-size: 1rem;
    }
    .productosdestacados{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .gafas{
        flex-wrap: wrap;
        flex-direction: column;
    } 
    .btn-primary{
        font-size: 2rem;
    }
    .offcanvas-start{
        max-width: 150px;
    }
    .offcanvas-title{
        font-size: 2rem;
    }
    .offcanvas-body ul li a{
        font-size: 1rem;
    }
    .contacto iframe{
        width: 40%;
        height: 100px;
    }
    .d-flex{
        padding-top: 0px;
    }
    .carousel-item img{
        max-height: 400px;
    }
    }