.gafas{
    text-align: center;
    display: flex;
    margin: 20px 0px;
    img{
        width: 40%;
    }
    p{
        font-size: 2rem;
        color: black;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
    }
}
h2{
    font-size: 2rem;
}