.d-flex justify-content-center align-items-center vh-100{
    position: static;
    z-index: 1;
}
.carousel-item img{
    max-height: 600px;
}
.productosdestacados{
    font-size: 2rem;
    text-align: center;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    justify-content: space-between;
    img{
        width: 80%;
    }
    div{
        width: 30%;
        margin-top: 30px;
    }
    p{
        font-size: 2rem;
        color: black;
        text-transform: capitalize;
        font-weight: bold;
        text-transform: none;
    }
}